
		body{
			background-color:powderblue;
		}
		hr{
			border-style: dotted none none;
			border-color: whitesmoke;
			border-width:10px ;
			height: 0px;
			width: 6%;
		}
		h3,h1,h2{
			color: #66bfbf;
		}
	